<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Name</key>
    <string>John Doe</string>
    <key>Birth Year</key>
    <integer>1942</integer>
    <key>Travel Log</key>
    <array>
      <string>Tokyo, Honshu, Japan</string>
      <string>Philadelphia, PA</string>
      <string>Recife, Pernambuco, Brazil</string>
    </array>
  </dict>
</plist>